apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  selector:  
    matchLabels:
      app: mongodb
  replicas: 1
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:3.6.23
        volumeMounts:
          - name: mongo-persistent-storage
            mountPath: /data/db
      volumes:
        - name: mongo-persistent-storage
          # pointer to config for mount
          persistentVolumeClaim:
            claimName: mongo-pvc

---  
apiVersion: v1
kind: Service
metadata:
  name: fleetman-mongodb

spec:
  # this defines which pods are represented by this service
  # the service becomes a network endpoint for other services or external users
  selector:
    app: mongodb

  ports:
    - name: mongoport
      port: 27017

  type: ClusterIP